/* CSS Variables */

:root {
    --primary: #eee;
    --secondary: #B23C50;
    --dark: #333;
    --light: #fff;
}

body {
    font-family: Mukta, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: var(--dark)
}

/* Universal */

.wrapper {
    display: grid;
    width: 1200px;
    margin: 1rem auto;
}

p {
    margin-bottom: 0.3rem;
}

h1 {
    font-family: "Noto serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.8rem;
    margin: 0 0 0.3rem 0;
}

h2 {    
    font-family: "Noto serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    margin: 1.4rem 0 0.8rem 0;
}

h3 {    
    font-family: "Noto serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 1.2rem;
    margin: 0 0 0.5rem 0;
}

h4 {
    margin: 0.5rem 0 0.5rem 0;
}

/* Header & Navigaion */

header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rem;
    grid-auto-rows: auto;
    align-items: center;
    border-bottom: #a2a2a2 dashed 1px;
}

.logo {
    font-family: "Noto serif", Georgia, 'Times New Roman', Times, serif;
    font-size: 3rem;
    line-height: 0;
    margin: 0;
}

nav {
    display: flex;
    justify-content: end;
    padding: 1rem 0 2rem 0;
}

nav a {
    height: auto;
    padding: 1rem;
    margin-left: 1rem;
    background-color: rgb(241, 241, 241);
    text-decoration: none;
    color: var(--dark);
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

nav a:hover {
    background-color: var(--secondary);
    color: var(--light);
    text-decoration: underline;
}

/* Content styling */

table {
    width: 100%;
    margin-bottom: 1rem;  
}

.top-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem;
    grid-template-rows: 200px 200px 400px;
    grid-template-areas: 
    'box-info top-hero top-hero'
    'box-info top-hero top-hero'
    'box-info loc-box loc-info';
    margin: 2rem 0;
}

.box-info {
    grid-area: box-info;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--primary);
    padding: 2rem;
}

.align-right {
    text-align: end;
}

.form-element {
    width: 100%;
    font-size: 0.9rem;
    margin-bottom: 1rem;
    padding: 3%;
    color: var(--dark);
    border: 1px solid rgb(219, 219, 219);
}

.btn {
    display: block;
    background-color: var(--secondary);
    color: var(--light);
    padding: 0.8rem;
    margin: 1rem 0 1.6rem 0;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.top-hero {
    grid-area: top-hero;
    background-color: var(--primary);
    background-image: url("../../Resources/Media/images/hus-blomster.jpg");
    height: 100%;
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.loc-box {
    grid-area: loc-box;
    background-color: var(--primary);
}

.loc-info {
    grid-area: loc-info;
    padding: 1rem 2.5rem;
    background-color: var(--primary);
}

#table-price {
    margin-bottom: 0;
    /* background-color: #fff; */
}

#table-price td {
    border-top: 1px dashed #b0b0b0;
    font-size: 1.3rem;
    padding-top: 1rem;
}
